* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #0f110f;
  --secondary-color: #362417;
  --accent1-color: #605b59;
  --accent2-color: #fffbff;

  --heading-font: DynaPuff;
  --paragraph-font: Roboto;

  --width: 40px;
  --height: calc((var(--width)) / 2);
  --border-radius: calc((var(--height)) / 2);
}

body {
  max-width: 1200px;
  margin: 0 auto;
  font-size: 0.9rem;
}

/* fonts assignments */
p,
a {
  font-family: var(--paragraph-font), sans-serif;
}

h3,
h1 {
  font-family: var(--heading-font), sans-serif;
  padding: 10px;
  text-align: center;
}

header {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: var(--accent1-color);
}

.emoji {
  font-size: xx-large;
}

/* toggle */

.toggle-container {
  position: absolute;
  top: 5rem;
  right: 1rem;
}

.toggle {
  display: inline-block;
  cursor: pointer;
}

.toggle-input {
  display: none;
}

.toggle-fill {
  display: block;
  width: var(--width);
  height: var(--height);
  border-radius: var(--border-radius);
  background: #fff;
  transition: background 0.2s;
}

.toggle-input:checked ~ .toggle-fill {
  background-color: var(--primary-color);
}

.toggle-fill::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--border-radius);
  width: var(--height);
  height: var(--height);
  background: var(--primary-color);
  transition: transform 0.2s;
}

.toggle-input:checked ~ .toggle-fill::after {
  transform: translateX(var(--height));
  background: #fff;
}

.darkmode {
  background-color: var(--primary-color);
  color: var(--accent2-color);
}

/* hambuger menu */
#menu {
  text-decoration: none;
  font-size: 1.4rem;
  padding: 3px;
  background-color: var(--accent2-color);
  color: var(--primary-color);
  box-shadow: var(--primary-color) 1px 1px 3px;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

#menu::before {
  content: "☰";
}

#menu.open::before {
  content: "❌";
}

/* navigation styling */
.navigation {
  display: flex;
  list-style: none;
  flex-direction: column;
  text-align: center;
  background-color: var(--accent2-color);
}

.navigation li a {
  display: block;
  text-decoration: none;
  color: var(--primary-color);
  padding: 15px;
  border-bottom: 1px solid var(--primary-color);
  /* border: 1px solid black; */
}

.navigation li a:hover {
  background-color: var(--primary-color);
  color: var(--accent2-color);
}

.navigation li {
  display: none;
}

.navigation-dark li a {
  background-color: var(--primary-color);
  color: var(--accent2-color);
  border-bottom: 1px solid var(--accent2-color);
}

.navigation-dark li a:hover {
  background-color: var(--accent2-color);
  color: var(--primary-color);
}

.open li {
  display: block;
  width: 100%;
  text-align: center;
}

/* Hero Image and message styling*/
.hero {
  display: grid;
  /* text-align: center; */
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  text-align: center;
}

.hero picture {
  width: 100%;
  height: auto;
  /* aspect-ratio: 16/9; */
  grid-column: 1/3;
  grid-row: 1/2;
  object-fit: contain;
}

.hero picture img {
  width: 100%;
}

.introduction {
  grid-column: 1/3;
  grid-row: 1/2;
  color: var(--accent1-color);
}

.introduction p {
  padding: 0 15px;
}

/* button style */
.call-to-action {
  padding: 5px;
  margin: 5px;
}

.call-to-action a {
  text-decoration: none;
}

/* card images */
.sights {
  display: flex;
  flex-direction: column;
}

.sights img {
  margin: 10px auto;
  width: 50%;
  height: auto;
}

.current-event,
.weather-card,
.advertisment {
  text-align: center;
  padding: 10px;
}

/* footer */
footer {
  background-color: var(--accent1-color);
  color: var(--accent2-color);
  text-align: center;
  padding: 20px;
}

footer p {
  padding: 2px;
}

.icons img {
  width: 50px;
  padding: 5px;
}

/* DIscover page */
.images-discover {
  text-align: center;
  padding: 10px;
}

.images-discover img {
  width: 90%;
  height: 200px;
  padding: 10px;
}

aside {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  background-color: var(--accent1-color);
  margin-bottom: 20px;
}

.aside-dark div {
  background-color: var(--primary-color);
}

aside p {
  padding: 20px;
  line-height: 1.3rem;
}   

.info-card, .stats, .events {
  width: 90%;
  margin: 0 auto;
  box-shadow: 1px 1px 10px;
  background-color: var(--accent2-color);
}

@media screen and (max-width: 480px) {
  h1,
  h3 {
    font-size: 0.9rem;
  }
}
