/* import statement was moved to the normalize file so it can be read first */

:root {
  --primary-color: #0f110f;
  --secondary-color: #362417;
  --accent1-color: #934020;
  --accent2-color: #fffbff;
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-direction: column;
  background-color: var(--accent1-color);
  color: var(--accent2-color);
  padding-top: 10px;
}

header h1,
.profile-picture {
  text-align: center;
}

body {
  max-width: 1200px;
  margin: 0 auto;
}

/* Nav bar styling */

#menu {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 4px;
  font-size: 1.2rem;
}

#menu::before {
  content: "☰";
}

#menu.open::before {
  content: "❌";
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-color);
}

.navigation li {
  list-style: none;
  /* padding: 10px; */
}

.navigation li {
  display: none;
}

.navigation li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: var(--accent2-color);
}

.navigation li a:hover {
  background-color: white;
  color: black;
}

.navigation li a:active::before,
.navigation li a:active::after {
  content: "|";
}

.open li {
  display: block;
  width: 100%;
  text-align: center;
}

h2 {
  text-align: center;
  padding-top: 20px;
}

main {
  display: grid;
  grid-template-rows: 1fr;
  padding: 0 30px;
}

.card h3 {
  text-align: center;
  padding: 10px;
  border-top-right-radius: inherit;
  border-top-left-radius: inherit;
  background-color: var(--accent1-color);
  color: var(--accent2-color);
}

.card {
  border-radius: 10px;
  margin-top: 10px;
  box-shadow: #362417 3px 3px 10px;
}

ol {
  padding: 10px 40px;
}

.iframe {
  /* width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" */
  /* height: 450px; */
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

iframe {
  height: 400px;
  width: 100%;
}

/* footer */
footer {
  margin-top: 20px;
  text-align: center;
  background-color: var(--accent1-color);
  color: var(--accent2-color);
  padding: 40px;
}

@media screen and (max-width: 640px) {
  h1,
  h2 {
    font-size: large;
  }

  h3 {
    font-size: medium;
  }
}
